html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
	height: 100%;

}

body {
	margin: 0;
	height: 100%;
}

h5 {
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

table, th, td {
  border: none;
}

table {
    width: 100%;
    display: table;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
}

thead {
    border-bottom: 1px solid #d0d0d0;
    display: table-header-group;
    vertical-align: middle;
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.btn{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
   border: none;
  border-radius: 10px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
   text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  width:100%;
}
.grid {
	display: grid;
	grid-column-gap: 10px;
	/* grid-template-columns: 32vw 32vw 32vw;
	grid-template-rows: 60vh 5vh 35vh; */
	justify-content: space-between;
	grid-template-columns: minmax(500px, 1fr) 1fr 1fr; 
	grid-template-rows: 1fr 90px 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item5"; 

	box-sizing: border-box;
	height: 100%;
	padding: 10px;
	/* border: 1px solid blue !important; */
}
.item1{
	grid-area: item1;
	/* border: 1px solid red !important; */
	padding: 10px;
}
.item2{
	grid-area: item2;
	/* border: 1px solid red !important; */
}
.item3{
	grid-area: item3;
	/* border: 1px solid red !important; */
}
.item4{
	grid-area: item4;
	/* border: 1px solid green; */
	padding: 10px;
}
.item5{
	grid-area: item5;
	/* border: 1px solid purple; */
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
 height: 50vh;
 border-style: solid;
 border-color: powderblue;
 border-radius: 10px;
}

.white {
  background-color: #FFFFFF !important;
}

.black {
  background-color: #000000 !important;
}

.center{
  text-align: center;
}
