:root {
	--textcolor: white;
	--accent: deeppink;
	--containercolor: #222;
	--bgcolor: #111;
	--aboutcontainercolor: #333;
}

html {
	line-height: 1.5;
	font-family: "Comic Sans MS", sans-serif;
	font-weight: normal;
	color: var(--textcolor);
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: var(--bgcolor);
}

h5 {
	font-weight: 400;
	line-height: 1.1;
	font-size: 1.64rem;
	line-height: 110%;
	margin: 0.82rem 0 0.656rem 0;
}

table, th, td {
	border: none;
}

table {
    width: 100%;
    display: table;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
}

thead {
    border-bottom: 1px solid #d0d0d0;
    display: table-header-group;
    vertical-align: middle;
}

td, th {
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.btn{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 10px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	width:100%;
	color: var(--textcolor);
	background-color: var(--accent);
	font-weight: bold;
	font-family: "Comic Sans MS", sans-serif; /* hehe */
}

.btn:disabled,
.btn[disabled]{
  background-color: #800040;
  color: #666666;
}

.grid {
	display: grid;
	grid-column-gap: 10px;
	/* grid-template-columns: 32vw 32vw 32vw;
	grid-template-rows: 60vh 5vh 35vh; */
	justify-content: space-between;
	grid-template-columns: minmax(500px, 1fr) 1fr 1fr; 
	grid-template-rows: 1fr 90px 1fr; 
	gap: 0px 0px; 
	grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item5"; 

	box-sizing: border-box;
	height: 100%;
	padding: 10px;
	/* border: 1px solid blue !important; */
}
.item1{
	grid-area: item1;
	display: flex;
	flex-direction: column;
	/* border: 1px solid red !important; */
	padding: 10px;
}
.item2{
	grid-area: item2;
	/* border: 1px solid red !important; */
}
.item3{
	grid-area: item3;
	/* border: 1px solid red !important; */
}
.item4{
	grid-area: item4;
	/* border: 1px solid green; */
	padding: 10px;
}
.item5{
	grid-area: item5;
	/* border: 1px solid purple; */
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
	height: 50vh;
	border-style: solid;
	border-color: var(--bgcolor);
	border-radius: 10px;
	background-color: var(--containercolor);
}

input[type="file"] {
    display: none;
}

.file-upload-button {
	align-self: center;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 10px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin: 0 0 10px 0;
	padding: 0 2rem;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	width: 80%;
	color: var(--textcolor);
	background-color: var(--accent);
	font-weight: bold;
	font-family: "Comic Sans MS", sans-serif; /* hehe */
}

.center{
	text-align: center;
}

#file-content {
	display: none;
}

#lexemeDiv {
	padding: 10px;
	overflow-y: scroll;
	overflow-x: fixed;
	height: 50vh;
}

#symbolTableDiv {
	padding: 10px;
	overflow-y: scroll;
	overflow-x: fixed;
	height: 50vh;
}
#terminalDiv {
	width: 99%;
	height: 95%;
	resize:none;
	overflow-y: scroll;
	overflow-x: scroll;
	color: var(--textcolor);
	background-color: var(--containercolor);
}

.blinking-terminal {
	border: 2px solid hotpink;
	animation: blinkingterminal 2s infinite;
}

@keyframes blinkingterminal { 50% { border-color: transparent; }  }

/* dummyinput is hidden on the back of the codemirror box */
#dummyinput {
	position: absolute;
	left: 50px;
	top: 50px;
	z-index: -1;
}


#popup {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 10;
	background-color: var(--aboutcontainercolor);
	color: var(--textcolor);
	border-radius: 50px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.about {
	margin: 50px;
}

.terminalbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hideaboutbutton {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 100%;
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	color: var(--textcolor);
	background-color: var(--accent);
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.showaboutbutton {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border: 2px solid var(--textcolor);
	border-radius: 100%;
	display: inline-block;
	width: 26px;
	height: 26px;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	color: var(--textcolor);
	background-color: var(--bgcolor);
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
}


/* CUSTOM SCROLLBAR COLORS */
/* derived from https://www.digitalocean.com/community/tutorials/css-scrollbars */

/* for Chrome, Edge, and Safari */
.CodeMirror-vscrollbar::-webkit-scrollbar,
.CodeMirror-hscrollbar::-webkit-scrollbar,
.container::-webkit-scrollbar,
#terminalDiv::-webkit-scrollbar {
	width: 12px !important;               /* width of the entire scrollbar */
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track,
.CodeMirror-hscrollbar::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track,
#terminalDiv::-webkit-scrollbar-track {
	background: var(--bgcolor) !important;        /* color of the tracking area */
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb,
#terminalDiv::-webkit-scrollbar-thumb {
	background-color: var(--accent) !important;    /* color of the scroll thumb */
	border-radius: 20px !important;       /* roundness of the scroll thumb */
}

#terminalDiv::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* for Firefox */
body {
	scrollbar-width: thin;
	scrollbar-color: var(--accent) var(--bgcolor);
}



/* for CodeMirror placeholder text */
.CodeMirror-empty {
	color: gray !important;
}
